* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    user-select: none;
    --transition-time: 5s;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
    /* aspect-ratio: 16/9; */
}

header {
    display: flex;
    flex: 1;
}

main {
    flex: 3;
    display: flex;
    align-items: flex-end;
    height: 329px;
    justify-content: center;
    background-image: url("./mainbg.jpg");
}

.singers {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0 10%;
}

.singer {
    width: 100%;
    max-width: 167px;
    height: 100%;
    border: 1px solid green;
    position: relative;
}

.loader {
    height: 4px;
    width: 0%;
    background-color: black;
    border-radius: 8px;
    transition-duration: var(--transition-time);
    transition-property: all;
    transition-timing-function: ease;
    align-self: flex-end;
    justify-self: flex-end;
    bottom: 0;
    position: absolute;
}

.loader:hover {
    width: 100%;
    background: grey;
}

footer {
    flex: 2;
    padding: 1% 15%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.left {
    margin-left: 50px;
    width: fit-content;
    height: 72px;
    flex: 0;
    display: flex;
    gap: 9px;
    height: 100%;

    >* {
        background-color: aqua;
        width: 72px;
        height: 72px;
        border-radius: 4px;
    }
}

.right {
    margin-right: 50px;
    width: fit-content;
    height: 72px;
    flex: 0;
    display: flex;
    gap: 9px;
    height: 100%;

    >* {
        background-color: aqua;
        width: 72px;
        height: 72px;
        border-radius: 4px;
    }
}