* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    user-select: none;
    --transition-time: 5s;
}

body {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 658/428;
}

header {
    display: flex;
    height: 15%;
}

main {
    height: 100%;
    display: flex;
    align-items: flex-end;
    height: 329px;
    justify-content: center;
    background-image: url("./mainbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.singers {
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 100%;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
}

.singer {
    width: 100%;
    max-width: 120px;
    height: 100%;
    border: 1px solid green;
}

.frame {
    margin-top: 20px;
    height: 100%;
    position: relative;
    background-image: url("/singer.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

}

.splashscreen {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-image: url(/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
}

img {
    width: 100%;
}



.loader {
    height: 4px;
    width: 0%;
    background-color: black;
    border-radius: 8px;
    transition-duration: var(--transition-time);
    transition-property: all;
    transition-timing-function: ease;
    align-self: flex-end;
    justify-self: flex-end;
    bottom: 0;
    position: absolute;
}

.loader.loading {
    width: 100%;
    background: grey;
}

footer {
    height: 33%;
    padding: 1% 15%;

}



.songs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.songs>* {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    border: 1px solid red;
    padding: 4px 0;
}

.song {
    background-color: aqua;
    aspect-ratio: 1;
    flex-grow: 1;
    flex-shrink: 1;
    width: 0%;
    height: unset;
    margin: 0 4px;
    cursor: grab;
    border-radius: 4px;
}

.left {
    padding-left: 5%;
}

.right {
    padding-right: 5%;
}