* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    user-select: none;
    --colV8: #5f7e7b;
    --col: var(--colV8);
    --headHeight: calc((100% / 380) * 234);
    --frameHeight: calc((100% / 380) * 380);
    --marginTop: calc((380 - 328) * (100% / 380));
    --headBottom: calc(((380 - 234) * (100% / 380)));
    --transition-time: 5s;
    --background-1: url("/public/singer.png");
    --background-2: url("/public/singer.png");
    --background-3: url("/public/singer.png");
    --background-4: url("/public/singer.png");
    --background-5: url("/public/singer.png");
    --background-6: url("/public/singer.png");
    --background-7: url("/public/singer.png");
    --background-8: url("/public/singer.png");
}

svg {
    height: 90%;
    width: 90%;
    fill: white;
}

@media screen and (orientation: portrait) {
    .orientation {
        display: flex;
    }

    main * {
        pointer-events: none;
    }
}

@media screen and (orientation: landscape) {
    main * {
        pointer-events: all;
    }

    .orientation {
        display: none !important;
    }
}

.orientation {
    background-color: #5f7e7b;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    z-index: 1;
    align-items: center;
}

.orient {
    width: 80%;
    height: fit-content;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 24px;
    padding: 2%;
    text-align: center;
    border-radius: 20px;
    align-items: center;
}

.orient p {

    color: black;
    font-weight: 700;
    text-decoration: italic;
}

#orient {
    width: fit-content;
    font-size: large;
    text-align: center;
    padding: 16px;
    background-color: black;
    color: white;
    border-radius: 16px;
}

.inset {
    inset: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    width: 100vw;
    background-color: #fafafa;
    height: 100vh;
    overflow: hidden;
}

body>* {
    position: absolute;
}

.intro-logo {
    position: absolute;
    top: calc(50% - 115px);
    width: 100%;
    pointer-events: none;
    background-image: url(/public/title.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 20px) center;
    height: 100px;
    transform: translate(0, 0);
}

.pump {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, 0);
}


.titleUp {
    animation: titleUp .8s cubic-bezier(0.77, 0, 0.175, 1) 0s forwards;
}

.titleUpHide {
    transform: translate(0, -60px);
    animation: titleUpHide .4s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s forwards;
}

.pumpUpHide {
    animation: pumpUpHide .7s cubic-bezier(.77, 0, .175, 1) .15s forwards;
}

.experience {
    position: absolute;
    top: calc(50% - 55px);
    width: 100%;
    transform: translate(0, 50px);
    opacity: 0;
}

.experienceUp {
    animation: experienceUp .7s cubic-bezier(0.165, 0.84, 0.44, 1) .6s forwards;
}

.experienceUpHide {
    animation: experienceUpHide .3s cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s forwards;
}

.headphone {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, 50px);
    opacity: 0;
}

.headphoneUp {
    animation: headphoneUp .7s cubic-bezier(.165, .84, .44, 1) .7s forwards;
}

.headphoneUpHide {
    opacity: 1;
    transform: translate(0, 0);
    animation: headphoneUpHide .3s cubic-bezier(.55, .055, .675, .19) .3s forwards;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: ralewaymedium, Sans-Serif;
    font-size: 16px;
    letter-spacing: .05em;
    color: #828282;
}

.choose {

    font-weight: 300;
    font-size: 17px;
    position: absolute;
    width: 100%;
    top: calc(50% - 200px);
    transform: translate(0, 50px);
    opacity: 0;
}

.chooseUp {
    animation: chooseUp .6s cubic-bezier(.77, 0, .175, 1) 2.4s forwards;
}

.versions {
    flex-direction: column;
    height: 100%;
}

.settings {
    height: 10%;
    opacity: 0;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.settings>* {
    max-width: 44px;
    max-height: 44px;
    margin-left: 10px;
    border-radius: 50%;
}

.select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    padding-top: 20px;
}

.select .top,
.select .bottom {
    display: flex;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}


.txt {
    text-align: center;
    text-transform: uppercase;
    font-family: ralewaymedium, Sans-Serif;
    font-size: 16px;
    letter-spacing: .05em;
    color: #828282;
}

.version {
    width: 120px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transform: translate(0px, 25px);
    opacity: 0;
}

.versionUp {
    animation: iconUp .4s cubic-bezier(.165, .84, .44, 1) .2s forwards;
}

.svg-icon {
    background-color: #828282;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .15s ease-in-out;
}

.svg-icon:hover {
    background-color: #4f4e4e;
}

.intro .title,
.version .title {
    margin-top: 6%;
    height: 0;
    background-image: url('/public/titles.png');
    padding-bottom: 20%;
    background-size: cover;
    width: 100%;
}

.version-logo {
    padding-bottom: 100%;
    height: 0;
    width: 120px;
    border-radius: 25%;
    background-image: url('/public/versions.png');
    background-size: cover;
    background-color: #ccc;
    transition: transform .15s ease-in-out;
}

.v1 {
    background-position: calc((100% / 8) * 0) 0;
}

.v2 {
    background-position: calc((100% / 8) * 1) 0;
}

.v3 {
    background-position: calc((100% / 8) * 2) 0;
}

.v4 {
    background-position: calc((100% / 8) * 3) 0;
}

.v5 {
    background-position: calc((100% / 8) * 4) 0;
}

.v6 {
    background-position: calc((100% / 8) * 5) 0;
}

.v7 {
    background-position: calc((100% / 8) * 6) 0;
}

.v8 {
    background-position: calc((100% / 8) * 7) 0;
}

.v9 {
    background-position: calc((100% / 8) * 8) 0;
}

.version:hover .version-logo {
    transform: scale(1.05);
}


.with-tab.popup {
    max-height: 500px;
    border-top-left-radius: 0px;
}

.tab {
    height: 60px;
    width: fit-content;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    display: flex;
    justify-content: flex-start;
    background-color: #373737;
    border-top-left-radius: 6px;
}

.pop.active:not(.tutorial) {
    height: calc(100% - 60px);
}

.pop.active:is(.tutorial) {
    height: 100%;
}

.pop:not(.active) {
    display: none;
}


.tab-button {
    min-width: 100px;
    color: #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.tab-button.active {
    background-color: #5f5f5f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.tab-button.active>.txt {
    color: #fff;
}

.tab-button.disable {
    opacity: 0.3;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    margin-top: auto;
}

.prog {
    margin: 0 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ccc;
}

.prog.active {
    background-color: #5a5a5a;
}

.popup {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
    max-height: 350px;
    max-width: 700px;
    border-radius: 6px;
}

.pop {
    display: flex;
    flex-direction: column;
}

.slideUp {
    animation: popSlideUp .3s cubic-bezier(.075, .82, .165, 1) 0s forwards;
}



.pop-container {
    padding: 40px 60px;
    height: 100%;
    background-color: white;
    border-radius: 6px;
    border-top-left-radius: 0px;

}

.logo {
    height: 100%;
    min-height: 30px;
    max-height: 85px;
    background-image: url(/public/title.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}

.hr {
    display: flex;
    height: 100%;
    max-height: 50px;
    min-height: 15px;
    align-items: center;
}

hr {
    width: 100%;
}

.credits {
    text-align: center;
}

.credits .text {
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
}

.team {
    display: flex;
}

.box-team {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    text-align: right;
    color: black;
    font-size: 14px;
    line-height: 1.4;
}

.box-team:last-child {
    text-align: left;
    line-height: 1.3;
    color: #666;
}

.follow {
    text-align: center;
}

.follow .title {
    font-size: 18px;
    font-family: ralewaybold, Sans-Serif;
    margin-bottom: 0.5em;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
}

.follow .links {
    min-height: 33px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.follow .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter {
    background-color: #1da1f2;
}

.twitter:hover {
    background-color: #3e82d7;
}

.facebook {
    background-color: #3c5a97;
}

.facebook:hover {
    background-color: #2f3a89;
}

.instagram {
    background-color: #e95950;
}

.instagram:hover {
    background-color: #cc4340;
}

.youtube {
    background-color: #d20a0a;
}

.youtube:hover {
    background-color: #960000;
}

.tumblr {
    background-color: #2b4d66;
}

.tumblr:hover {
    background-color: #203a49;
}

.github {
    background-color: #000;
}

.github:hover {
    background-color: #232323;
}

.hashnode {
    background-color: white;
}

.hashnode:hover {
    background-color: #ccc;
}

.linktree {
    background-color: green;
}

.linktree:hover {
    background-color: rgb(9, 181, 9);
}

.email {
    background-color: #000;
}

.email:hover {
    background-color: #232323;
}

span {
    font-size: 13px;
    color: #666;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.animateFadeIn {
    display: flex;
    animation: animateFadeIn .3s ease 0s forwards;
}

.head-right {
    display: flex;
    justify-content: space-between;
    height: 15%;
}


.overflow-box {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    width: calc(100% * 5);
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    transition: all .2s ease-in;
}

.slide-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.slide-item img {
    height: calc(100% - 75px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.slide-item .txt {
    height: 75px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 80px);
    height: 60px;
    margin: 0 40px 60px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-button {
    cursor: pointer;
    width: 60px;
    fill: #ccc;
    stroke: #ccc;
}

.nav-button.disable {
    opacity: 0.3;
}

@keyframes titleUp {
    100% {
        transform: translate(0, -60px);
    }
}

@keyframes titleUpHide {
    100% {
        transform: translate(0, -100px);
        opacity: 0;
    }
}

@keyframes pumpUpHide {
    100% {
        transform: translate(0, -60px);
        opacity: 0;
    }
}

@keyframes experienceUpHide {
    100% {
        transform: translate(0, -20px);
        opacity: 0;
    }
}

@keyframes experienceUp {
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes headphoneUpHide {
    100% {
        transform: translate(0, -40px);
        opacity: 0;
    }
}

@keyframes headphoneUp {
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes chooseUp {
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes iconUp {
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes popSlideUp {
    0% {
        opacity: 0;
        transform: translate(0, 80px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes animateFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}