* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    user-select: none;
    --colV8: #5f7e7b;
    --col: var(--colV8);
    --headHeight: calc((100% / 380) * 234);
    --frameHeight: calc((100% / 380) * 380);
    --marginTop: calc((380 - 328) * (100% / 380));
    --headBottom: calc(((380 - 234) * (100% / 380)));
    --transition-time: 5s;
    --background-1: url("/public/singer.png");
    --background-2: url("/public/singer.png");
    --background-3: url("/public/singer.png");
    --background-4: url("/public/singer.png");
    --background-5: url("/public/singer.png");
    --background-6: url("/public/singer.png");
    --background-7: url("/public/singer.png");
    --background-8: url("/public/singer.png");
}

body {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    height: 15%;
}

canvas {
    width: 100%;
    height: 100%;
}

.header {
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 4px 16px;
}

.header>div {
    aspect-ratio: 1;
    height: 80%;
    max-height: 60px;
    border: 1px solid green;
    border-radius: 50%;
}

.video {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: black;
    z-index: 1;
    transition: all ease-in 250ms;
}

.video.playing {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    width: 100dvw;
}

video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    min-height: 72%;
}

.header .video-player {
    border: 4px solid transparent;
    background-image: url(/public/v8.png);
    background-color: var(--col);
    background-size: 300% 100%;
}

.video-player[data-player-id="1"] {
    background-position: 0%;
}

.video-player[data-player-id="2"] {
    background-position: 50%;
}

.video-player[data-player-id="3"] {
    background-position: 100%;
}

.combo1 {
    border-top-color: red !important;
}

.combo2 {
    border-right-color: aqua !important;
}

.combo3 {
    border-left-color: yellow !important;
    border-bottom-color: yellow !important;
}

.combo4 {
    border-bottom-color: green;
}

.video-player .loader {
    bottom: -8px;
}

.playable {
    border-color: green;
}

.middle {
    flex-grow: 2;
    justify-content: space-evenly;
}

.pause {
    justify-content: flex-end;
}

h2 {
    font-weight: 900;
    position: absolute;
    color: grey;
    width: 100%;
    bottom: 20%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    width: 100dvw;
    max-width: 100vw;
    max-width: 100dvw;
    max-height: 100vh;
    max-height: 100dvh;
    aspect-ratio: 16/9;
}

header {
    display: flex;
    height: 15%;
}

main {
    aspect-ratio: 16/9;
    display: flex;
    height: 52%;
    align-items: flex-end;
    /* max-height: 329px; */
    justify-content: center;
    background-image: url("/public/mainbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.singers {
    display: flex;
    justify-content: space-around;
    gap: 4px;
    height: 100%;
    width: 100%;
    margin: 0 10%;
    overflow: hidden;
}

.singer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    max-width: 164px;
    height: 100%;
    opacity: 0.6;
}

.singing {
    animation: jump 250ms ease forwards;
}



@keyframes jump {

    0%,
    100% {
        margin: 0;
    }

    25%,
    75% {
        margin-top: -15px;
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.frame {
    height: var(--frameHeight);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-position: bottom;
}

* {
    background-repeat: no-repeat;
}

.frame .body {
    height: var(--frameHeight);
    margin-top: var(--marginTop);
    width: 100%;
    bottom: 0;
}


.frame .head {
    bottom: var(--headBottom);
    height: var(--headHeight);
    width: 100%;

}


.singer[data-singer-id="1"]>.frame {
    background-image: var(--background-1);
}

.singer[data-singer-id="2"]>.frame {
    background-image: var(--background-2);
}

.singer[data-singer-id="3"]>.frame {
    background-image: var(--background-3);
}

.singer[data-singer-id="4"]>.frame {
    background-image: var(--background-4);
}

.singer[data-singer-id="5"]>.frame {
    background-image: var(--background-5);
}

.singer[data-singer-id="6"]>.frame {
    background-image: var(--background-6);
}

.singer[data-singer-id="7"]>.frame {
    background-image: var(--background-7);
}

.singer[data-singer-id="8"]>.frame {
    background-image: var(--background-8);
}

.splashscreen {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-image: url(/public/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
}

img {
    width: 100%;
}



.loader {
    height: 4px;
    width: 0%;
    background-color: grey;
    border-radius: 8px;
    bottom: 0;
    opacity: 0;
    position: absolute;
    transition-duration: var(--transition-time);
    transition-property: width;
    transition-timing-function: ease-in;
}

.loader.loading {
    width: 100%;
    opacity: 1;
    background: var(--col);
}

footer {
    height: 33%;
    padding: 1% 15%;

}



.songs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.songs>* {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    padding: 4px 0;
}

.song {
    aspect-ratio: 1;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 4px;
    cursor: grab;
    border-radius: 8px;
    background-image: url(/public/songs.png);
}

.left {
    padding-left: 5%;
}

.right {
    padding-right: 5%;
}

/* Will replace with sprites */
.song[data-song-id="1"] {

    background-position: calc((100% / 19) * 0) 0;
    background-size: auto 200%;
}

.song[data-song-id="2"] {
    background-position: calc((100% / 19) * 1) 0;
    background-size: auto 200%;
}

.song[data-song-id="3"] {
    background-position: calc((100% / 19) * 2) 0;
    background-size: auto 200%;
}

.song[data-song-id="4"] {
    background-position: calc((100% / 19) * 3) 0;
    background-size: auto 200%;
}

.song[data-song-id="5"] {
    background-position: calc((100% / 19) * 4) 0;
    background-size: auto 200%;
}

.song[data-song-id="6"] {
    background-position: calc((100% / 19) * 5) 0;
    background-size: auto 200%;
}

.song[data-song-id="7"] {
    background-position: calc((100% / 19) * 6) 0;
    background-size: auto 200%;
}

.song[data-song-id="8"] {
    background-position: calc((100% / 19) * 7) 0;
    background-size: auto 200%;
}

.song[data-song-id="9"] {
    background-position: calc((100% / 19) * 8) 0;
    background-size: auto 200%;
}

.song[data-song-id="10"] {
    background-position: calc((100% / 19) * 9) 0;
    background-size: auto 200%;
}

.song[data-song-id="11"] {
    background-position: calc((100% / 19) * 10) 0;
    background-size: auto 200%;
}

.song[data-song-id="12"] {
    background-position: calc((100% / 19) * 11) 0;
    background-size: auto 200%;
}

.song[data-song-id="13"] {
    background-position: calc((100% / 19) * 12) 0;
    background-size: auto 200%;
}

.song[data-song-id="14"] {
    background-position: calc((100% / 19) * 13) 0;
    background-size: auto 200%;
}

.song[data-song-id="15"] {
    background-position: calc((100% / 19) * 14) 0;
    background-size: auto 200%;
}

.song[data-song-id="16"] {
    background-position: calc((100% / 19) * 15) 0;
    background-size: auto 200%;
}

.song[data-song-id="17"] {
    background-position: calc((100% / 19) * 16) 0;
    background-size: auto 200%;
}

.song[data-song-id="18"] {
    background-position: calc((100% / 19) * 17) 0;
    background-size: auto 200%;
}

.song[data-song-id="19"] {
    background-position: calc((100% / 19) * 18) 0;
    background-size: auto 200%;
}

.song[data-song-id="20"] {
    background-position: calc((100% / 19) * 19) 0;
    background-size: auto 200%
}

@media screen and (orientation: portrait) {
    .orientation {
        display: flex;
    }

    main * {
        pointer-events: none;
    }
}

@media screen and (orientation: landscape) {
    main * {
        pointer-events: all;
    }

    .orientation {
        display: none !important;
    }
}

.orientation {
    background-color: #5f7e7b;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    z-index: 1;
    align-items: center;
    position: absolute;
    inset: 0%;
}

.orient {
    width: 80%;
    height: fit-content;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 24px;
    padding: 2%;
    text-align: center;
    border-radius: 20px;
    align-items: center;
}

.orient p {
    
    color: black;
    font-weight: 700;
    text-decoration: italic;
}

#orient {
    width: fit-content;
    font-size: large;
    text-align: center;
    padding: 16px;
    background-color: black;
    color: white;
    border-radius: 16px;
}